.app {
  background-color: #EEF1F8;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
}

.form-wrapper{
  margin-top: 100px;
}
.hardlight {
  color: rgba(0, 0, 0, 0.85)
}
.form-container {
  width: 60vw;
  background-color: white;
  height: 100vh;
  border-radius: 5px;
}
.header{
  z-index: 99;
  height: 67px;
  top: 0;
  background-color: #FFFFFF;
  padding-left: 75px;
  position: fixed;
  width: 100%;
}
.logo{
  margin-top: 14px;
  margin-left: 18vw;
  margin-right: 20px;
}